html {
    /* background-image: url(../images/cherry.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #222222;
    font-family: 'Mooli', sans-serif;
    color: white;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    display: block;
}

header a text {
    display: inline-flex;
}

header a:link, a:visited {
    color: white;
    text-decoration: none;
}

header a:hover, a:active {
    color: rgb(225, 225, 225);
}

#profile-section {
    margin: 25px;
}

#profile-subsection-table {
    display: inline-flex;
}

#profile-info-td-image img {
    height: 250px;
    margin-right: 25px;
}

/* table {
    border: 2px solid white;
}

table tr, td {
    border: 2px solid white;
} */

#profile-education-td-bullet {
    margin: 12.5px;
}

footer {
    text-align: center;
}