html {
    /* background-image: url(../images/cherry.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #222222;
    /* background-color: #E9F0EF; */
    font-family: 'Mooli', sans-serif;
    color: white;
    overflow-y: hidden;
}

#about {
    height: unset;
    width: unset;
}

hr {
    color: white;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

#leaves img {
    opacity: 10%;
    left: 0px;
    position: fixed; 
    min-width: 100%;
    min-height: 100vh;
    max-height: 125%; 
    z-index: 1;
    overflow-x: hidden;
    pointer-events: none;
    animation: fadeInAnimationLeaves ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimationLeaves {
    0% {
        opacity: 0%;
    }
    75% {
        opacity: 10%;
     }
}

body {
    margin-top: unset;
    margin-left: 15%;
    margin-right: 15%;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

header {
    padding-top: 5px;
    background-color: #222222;
    top: 0px;
    position: sticky;
}

#header-name {
    display: inline-block;
    margin: 0px;
}

#header-links {
    padding: 0px 0px 1px 0px;
    left: 75%;
    top: 40%;
    position: absolute;
}

header a text {
    display: inline-flex;
}

#header-hr {
    display: block;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(225, 225, 225);
}

#profile-section {
    margin: 7.5% 25px 0px 25px;
}

#profile-subsection-table {
    display: inline-flex;
    min-height: 800px;
}

#profile-info td {
    padding-bottom: 8%;
}

#resume {
    padding-bottom: 25px;
}

#profile-topic td {
    padding-bottom: 15px;
    width: 25%;
    text-align: center;
}

#profile-info-td-image img {
    height: 250px;
    margin-right: 25px;
    border-radius: 50%;
    text-align: center;
    border-style: dotted;
}

#profile-info-td-title {
    margin-top: -10px;
}

/* 
table { /* for debugging */
    /* border: 2px solid white;
} */

/* table tr, td { /* for debugging */
    /* border: 2px solid white;
} */

.topic-title {
    margin-bottom: auto;
    font-weight: bold;
}

.topic-hr {
    border-style: dotted;
}

#profile-education-td-bullet {
    margin: 12.5px;
}

.top-button {
    text-align: center;
}

/* this will all need to be updated */
#contact {
    padding-bottom: 400px;
}

/* TODO: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scroll_snap/Basic_concepts */

#contact-section {
    border: 1px solid;
    margin: 0px 12.5% 0 12.5%;
}

/* flex example */
#contact-section-row { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact-info {
    border: 1px solid;
    display: inline-block;
}

#contact-form {
    border: 1px solid;
    min-width: 500px;
    display: inline-block;
    text-align: right;
}

#contact-form input, textarea {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    color: white;
    background-color: #333333;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 2px;
    font-family: 'Mooli', sans-serif;
}

#contact-form button {
    color: white;
    background-color: #252B30;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 2px;
}

footer {
    text-align: center;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0px;
    background-color: #222222;
}

#footer-hr {
    width: 1075px;
    margin-top: 10px;
}